* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    position: center;
    background-color: cornflowerblue;
    display: flex;
    padding: 10px;
    width: 100%;
    height: 50px;
    justify-content: space-between;
}
body {
    background-color: goldenrod;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
img {
    max-width: 30%;
    height: auto;
    padding: 5px;
    position: left;
    margin-left: 0; 
}
p {
    position: left;
    padding: 5px;
    margin-left: 0px;
}
.btn plus{
    position: right;
    margin-right: 10px;
    size: 10%;
}
.btn minus{
    position: right;
    margin-right: 25px;
    size: 10%;
}
footer {
    background-color: cornflowerblue;
    width: 100%;
    height: 50px;
}
