* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    text-align: center;
    position: relative;
    background-color: cornflowerblue;
    display: flex;
    padding: 10px;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    margin-bottom: 10px;
}
body {
    background-color: goldenrod;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
img {
    max-width: 30%;
    height: auto;
    padding: 5px;
    position: left;
    display: block;
    margin-left: 10px; 
}
h2 {
    position: left;
    padding: 5px;
    margin-left: 0px;
}
p {
    flex-wrap: wrap;
    position: left;
    padding: 5px;
    margin-left: 0px;
}
.btn {
    position: right;
    margin-right: 10px;
    size: 10%;
}
footer {
    background-color: cornflowerblue;
    width: 100%;
    height: 50px;
}
